<div *ngIf="station" class="page-container">
  <div class="header">
    <span>Производство №1 > {{ station.name }}</span>

    <div class="header-button-group">
      <button
        *ngFor="let tab of tabs"
        [class.active]="activeTab === tab.id"
        (click)="switchTab(tab.id)"
      >
        {{ tab.name }}
      </button>
    </div>

    <div class="header-button-group">
      <app-tech-dock [activeTab]="activeTab"></app-tech-dock>
      <button>Импорт</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="working-status-col"></th>
        <th class="name-col">Название</th>
        <th class="block-key-status-col">Деблок</th>
        <th class="checking-date-col">Период проверки</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let equipment of paginatedEquipments"
        (click)="goToElementDetails(equipment.element_id)"
      >
        <td class="working-status-col">
          <label class="status-toggle">
            <input
              type="checkbox"
              [checked]="equipment.working_status"
              disabled
            />
            <span class="slider"></span>
          </label>
        </td>
        <td class="name-col">
          {{ equipment.element_name }}
        </td>
        <td class="block-key-status-col">
          <span
            class="status-badge"
            [class.enabled]="equipment.block_key_status"
          >
            {{ equipment.block_key_status ? "Вкл" : "Выкл" }}
          </span>
        </td>
        <td class="checking-date-col">
          {{ equipment.checking_date_start | date: "dd.MM.yyyy" }} -
          {{ equipment.checking_date_end | date: "dd.MM.yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <span class="edit-icon">✏️</span>
    <button (click)="prevPage()" [disabled]="currentPage === 1">< Назад</button>
    <span
      *ngFor="let page of getPages()"
      [class.active]="page === currentPage"
      (click)="goToPage(page)"
    >
      {{ page }}
    </span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Вперед >
    </button>
  </div>
</div>
