.custom-select-button {
  position: relative;
  display: inline-block;
}

.header-button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif !important;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  width: 200px;
  justify-content: space-between;
}

.header-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-content div {
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  font-family: "Times New Roman", Times, serif;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}
