mat-form-field.mat-mdc-form-field {
  --mdc-filled-text-field-container-color: #2196f3;
  --mdc-filled-text-field-hover-container-color: #1e88e5;
  --mdc-filled-text-field-focus-container-color: #1976d2;
  --mdc-filled-text-field-label-text-color: white;
  --mdc-filled-text-field-input-text-color: white;
  width: 250px;
}

select {
  color: white;
  font-size: 14px;
  height: 56px;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}
