.page-container {
	width: 100%;
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 0;
}

.table {
	width: 100%;
	table-layout: fixed;
	background-color: #f8f8f8;
}

.table th, .table td {
  border-bottom: 1px solid #e0e0e0;
	padding: 16px 12px;
	text-align: center;
	vertical-align: middle;
}

/* Колонки таблицы */
.working-status-col {
	width: 5%;
}

.name-col {
	width: 50%;
	text-align: left !important;
}

.block-key-status-col {
	width: 10%;
}

.checking-date-col {
	width: 35%;
}
