.page-container {
	width: 100%;
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 0;
}

.table {
	width: 100%;
	table-layout: fixed;
	background-color: #f8f8f8;
}

.table th, .table td {
  border-bottom: 1px solid #e0e0e0;
	padding: 16px 12px;
	text-align: center;
	vertical-align: middle;
}

/* Колонки таблицы */
.working-status-col {
	width: 5%;
}

.name-col {
	width: 50%;
	text-align: left !important;
}

.block-key-status-col {
	width: 10%;
}

.checking-date-col {
	width: 35%;
}

/* пагинация */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	gap: 8px;
}

.pagination button {
  padding: 5px 10px;
	border: none;
  background: white;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination span.active {
  background-color: #d2d0d0;
	border-radius: 5px;
}

.status-toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.status-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: not-allowed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 18px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

input:disabled + .slider {
  opacity: 0.7;
}
